.container_charac {
    padding: var(--padmarg);
}

.characters {
    margin-top: 6rem;
}

.title_charac {
    text-align: center;
    font-size: 3rem;
}

.subtitle_charac {
    text-align: center;
}

@media (max-width: 930px) {
    .characters {
        margin-top: 10rem;
    }
}