.character {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.character_card {
  padding: 1rem;
  min-width: 250px;
  max-width: 250px;
  min-height: 370px;
  background-color: var(--colorNegro);
  color: var(--colorBlanco);
  /* border: 3px solid transparent; */
  transition: ease-in-out 0.15s;
  border: 3px solid var(--colorNaranja);
}

.character_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 230px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: ease-in-out 0.15s;
}

.character_img {
  width: 260px;
  height: 240px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  transition: ease-in-out 0.15s;
}
/* .character_card:hover {
  cursor: pointer;
} */

.character_card:hover .character_img_container {
  border: 2px solid var(--colorNaranja);
}

.character_card:hover .character_img {
  width: 250px;
  height: 230px;
}

.character_nombre {
  font-size: 1.5rem;
  color: var(--colorNaranja);
}

.character_especie,
.character_reconocimiento {
  text-indent: 0;
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
}

.not_found_section {
  height: 55.7vh;
}

@media (max-width: 599px) {
  .character_nombre {
    font-size: 1.6rem;
  }

  .character_especie {
    font-size: 1.4rem;
  }

  .character_reconocimiento {
    font-size: 1.2rem;
  }
}
