.container_charac {
    padding: var(--padmarg);
}

.characters {
    margin-top: 6rem;
}

.title_charac {
    text-align: center;
}

.subtitle_charac {
    text-align: center;
}

@media (max-width: 930px) {
    .characters {
        margin-top: 12rem;
    }
}