.searchbar {
  display: flex;
  justify-content: space-between;
}

.search_input {
  width: 300px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--colorNaranja);
  border: 1px solid var(--colorNegro);
  text-transform: uppercase;
  font-family: var(--fontfamily);
  background-color: var(--colorNegro);
  border: 1px solid var(--colorNaranja);
  outline: 1px solid var(--colorNaranja);
}

.select {
  width: 160px;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--colorNaranja);
  font-family: var(--fontfamily);
  background-color: var(--colorNegro);
  border: 1px solid var(--colorNaranja);
  outline: 1px solid var(--colorNaranja);
}

@media (max-width: 930px) {
  .searchbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
