.footer {
  color: var(--colorBlanco);
  padding: 1.4rem 0;
  background-color: var(--colorNegro);
  text-align: center;
  font-size: 1.1rem;
  z-index: 100;
  margin-top: 2rem;
  height: 5vh;
}

.span_link_portfolio {
  color: var(--colorBlanco);
}

.span_link_portfolio:hover {
  text-decoration: underline;
}
