:root {
  --colorBlanco: #e9e9e9;
  --colorGris: #616161;
  --colorNegro: rgba(11, 12, 13, 0.99);
  --colorNaranja: #b04a2e;
  --colorNaranjaB: #ff7048;
  --padmarg: 1.5rem 10vw;
  --fontfamily: 'GFS Neohellenic', sans-serif;
}

p {
  text-indent: 30px;
}

h1 {
  color: var(--colorNaranja);
}

img {
  object-fit: cover;
  object-position: center;
}

body {
  margin: 0;
  font-family: var(--fontfamily);
  background-color: var(--colorBlanco);
}

a {
  text-decoration: none;
}

button {
  color: var(--colorBlanco);
  background-color: var(--colorNegro);
  border: 1px solid var(--colorBlanco);
  font-family: var(--fontfamily);
  font-size: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
}